<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ team.strTeamBadge }}" class="card-img team-image" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-center">{{team.strTeam}}</h5>
        <div class="btn-group-vertical" role="group" style="width: 100%;">
          <a [routerLink]="['/team-details', team.idTeam]" class="btn btn-primary">Ver perfil del equipo</a>
          <button type="button" class="btn btn-outline-primary">Agregar a favoritos</button>
        </div>
      </div>
    </div>
  </div>
</div>